*{
    box-sizing: border-box;
}
h1 {
    color:#1f1f1f;
}

.imgProdustc{
    position: relative;
    height: 400px;
    width: auto;
    background-image: url('../images/cq5dam.web.hebebed.1000.1000.crop\ \(2\).webp');
    background-size: cover;
    background-repeat: no-repeat;
    .icons{
        position: absolute;
        right: 20px;
        top: 20px;
        i{
            font-size: 20px;
            margin-left: 10px;
            cursor: pointer;
            color:  rgb(66, 66, 66);
        }
        .fa-bag-shopping:hover{
            color: #1f1f1f;
        }
        .fa-heart:hover{
            color: #1f1f1f;
        }
    }
}
.titleProducts{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    h5{
        margin-right: 20px;
    }

}

.textProducts{
    margin-top: 10px;
    a{
        text-decoration: none;

    }
    a{
        color: rgb(66, 66, 66);
    }
    a:hover{
        color: #000;;
    }
    a:active{
        color: #000;
    }

}
.header-nav-category{
    margin-bottom: 50px;
}
.col-md-4{
    margin-bottom: 20px;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    h4{
        background-color:  rgb(66, 66, 66);
        margin: 10px ;
        border-radius: 4px;
        a{
        margin: 20px;
        text-decoration: none;
        }

    }
    h4:hover{
        background-color: #1f1f1f;
        cursor: pointer;

    }
    a{
        color:#fff;
    }

}
